body {
    background-color: rgb(236, 234, 234);
    font-family: "Ralway";
}


.header {
    background-color: rgb(255, 200, 208);
}

.header img {
    width: 500px;
    height: 10%;
    float: initial;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: "Ralway";
  }
   
  .navbar  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Ralway";
  }
  
  .navbar  li a:hover {
    background-color: rgb(255, 226, 230);
  }

.index_page_intro_content {
    background-color: white;
}

.index_page_intro_content h2 {
    text-align: center;
    background-color: white;
    font-family:"Ralway";
    font-size: 50px;
}
